.footer{
    color: black;
    background-color: rgb(0, 0, 0) !important;
    padding:10px;
    bottom:0;
    width: 100%;
    color: rgb(136, 85, 206);
    position: fixed; 
    font-size: 13px; 
    left:0; 
}