/* instalar a extensão css modules */
.header{
    /* font-size:2em;
    background-color: pink;
    color: white; */
    font-family: 'roboto',sans-serif;
    color: #fff;
    background-color: black;
    padding: 10px;
    font-size: 25px;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.linkmenu{
    text-decoration: none;
    color:rgb(136, 85, 206);
}